.next/
node_modules/
.DS_Store
*.log

# Builds
.vercel/
out/
dist/

# Env
.env
.env.local

# IDE
.vscode/
*.swp
.next
# SQLite local databases
data/
*.db

# Uploads (générés côté admin)
public/assets/uploads/
